//Default Colors
$c-white: #fff;
$dc-50: #e5f2ff;
$dc-100: #d0e6ff;
$dc-200: #aad0ff;
$dc-300: #77aeff;
$dc-400: #437aff;
$dc-500: #1947ff;
$dc-600: #0027ff;
$dc-700: #002aff;
$dc-800: #0025df;
$dc-900: #0219ad;
$dc-950: #010737;

// fonts
$f-ppal: 'Helvetica';
